<h1><%= pluralize(@startupps.size, "Startupp")%></h1>

	<% @startupps.each do |startupp| %>
	 <article>
    <header>
      <h2><%= link_to startupp.title, startupp_url(startupp) %></h2>
    </header>
    <p>
      <%= truncate(startupp.description, length: 40, separator: ' ') %>
    </p>
    <!-- <table>
      <tr>
        <th>Founders:</th>
        <td><%= startupp.founders %></td>
      </tr>
      <tr>
        <th>Founding Date:</th>
        <td><%= startupp.founding_date %></td>
      </tr>
       <tr>
        <th>Taglines:</th>
        <td><%= startupp.tagline %></td>
      </tr>
      <tr>
        <th>Web URL:</th>
        <td><%= startupp.website_url %></td>
      </tr>
       <tr>
        <th>Number of Employees:</th>
        <td><%= startupp.employees %></td>
      </tr>
       <tr>
        <th>FaceBook:</th>
        <td><%= startupp.fb_url %></td>
      </tr>
       <tr>
        <th>Twitter:</th>
        <td><%= startupp.twitter_url %></td>
      </tr>
       <tr>
        <th>Linkedin:</th>
        <td><%= startupp.linkedin_url %></td>
      </tr>
    </table>
  </article> -->
	<% end %>