	<div class='row'>
  <div><%= link_to 'All Startupps', startupps_path %></div>
	 <article>
    <header>
      <h2><%= @startupp.title %></h2>
    </header>
    <p>
      <%= @startupp.description %>
    </p>
    <table>
    <tr>
        <th></th>
        <td><%= image_for(@startupp) %>
        <%#= image_tag @startupp.screenshot.url(:medium) %></td>
      </tr>
      <tr>
        <th>Founders:</th>
        <td><%= @startupp.founders %></td>
      </tr>
      <tr>
        <th>Founding Date:</th>
        <td><%= @startupp.founding_date %></td>
      </tr>
       <tr>
        <th>Taglines:</th>
        <td><%= @startupp.tagline %></td>
      </tr>
      <tr>
        <th>Web URL:</th>
        <td><%= @startupp.website_url %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @startupp.contact_address %></td>
      </tr>
       <tr>
        <th>Email:</th>
        <td><%= @startupp.contact_email %></td>
      </tr>
       <tr>
        <th>Number of Employees:</th>
        <td><%= @startupp.employees %></td>
      </tr>
       <tr>
        <th>FaceBook:</th>
        <td><%= @startupp.fb_url %></td>
      </tr>
       <tr>
        <th>Twitter:</th>
        <td><%= @startupp.twitter_url %></td>
      </tr>
       <tr>
        <th>Linkedin:</th>
        <td><%= @startupp.linkedin_url %></td>
      </tr>
    </table>
    <h3>Average Review</h3>
<p>
  <%= format_average_ratings(@startupp) %>
</p>

<% if @startupp.reviews.any? %>
  <h3>Recent Reviews</h3>
  <ol>
    <% @startupp.recent_reviews.each do |review| %>
       <li>
          <%= pluralize(review.ratings, 'rating') %>
          by <%= review.name %>
          
            <%= time_ago_in_words(review.created_at) %> ago
          
          <p>
            &quot;<%= review.comment %>&quot;
          </p>
        </li>      
    <% end %>
  </ol>
  <p>
    Read all <%= link_to pluralize(@startupp.reviews.size, "review"), 
                    startupp_reviews_path(@startupp) %>
  </p>
<% end %>


    <%= link_to pluralize(@startupp.reviews.size, "Review"), 
            startupp_reviews_path(@startupp) %> | 
    
    <%= link_to "Write Review", new_startupp_review_path(@startupp) %> | 
    <%= link_to 'Edit', edit_startupp_path(@startupp) %> | <%= link_to 'Delete', startupp_path(@startupp), method: :delete, data: {confirm: "Are you sure you want to delete this"} %>
  </article></div>
	