	<div><%= link_to 'All Startupps', startupps_path %></div>
	 <article>
    <header>
      <h2><%= @startupp.title %></h2>
    </header>
    <p>
      <%= @startupp.description %>
    </p>
    <table>
      <tr>
        <th>Founders:</th>
        <td><%= @startupp.founders %></td>
      </tr>
      <tr>
        <th>Founding Date:</th>
        <td><%= @startupp.founding_date %></td>
      </tr>
       <tr>
        <th>Taglines:</th>
        <td><%= @startupp.tagline %></td>
      </tr>
      <tr>
        <th>Web URL:</th>
        <td><%= @startupp.website_url %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @startupp.contact_address %></td>
      </tr>
       <tr>
        <th>Email:</th>
        <td><%= @startupp.contact_email %></td>
      </tr>
       <tr>
        <th>Number of Employees:</th>
        <td><%= @startupp.employees %></td>
      </tr>
       <tr>
        <th>FaceBook:</th>
        <td><%= @startupp.fb_url %></td>
      </tr>
       <tr>
        <th>Twitter:</th>
        <td><%= @startupp.twitter_url %></td>
      </tr>
       <tr>
        <th>Linkedin:</th>
        <td><%= @startupp.linkedin_url %></td>
      </tr>
    </table>
    <%= link_to 'Edit', edit_startupp_path(@startupp) %>
  </article>
	